name: Sonarqube linux Build for Python

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Sonarqube Testing
    runs-on: ubuntu-latest #Can be parametized if needed
    steps:

      - run: sudo apt-get update -y && sudo apt-get install curl -y
      - run: sudo apt-get install jq -y
      - run: sudo apt-get install libxrender1 libfontconfig libxext6 libc6 libxml2 -y

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17 #Can be parametized if needed

      #- name: Update JAVA Keystore Certs 
      #  run: |
      #    sudo echo "${{ secrets.SONAR_QA_CERT }}" > sonarqa.crt
      #    sudo keytool -noprompt -importcert -trustcacerts -file "sonarqa.crt" -keystore $JAVA_HOME/lib/security/cacerts -alias myalias1 -storepass changeit

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x  #Can be parametized if needed
      - name: Install tox and any other packages
        run: pip install tox
      
     # - name: SonarQube Quality Gate check
     #   uses: sonarsource/sonarqube-scan-action@master
        # Force to fail step after specific time.
     #   timeout-minutes: 5
     #   env:
     #    SONAR_TOKEN: ${{ secrets.SONAR_QA_TOKEN }}
     #    SONAR_HOST_URL: ${{ secrets.SONAR_QA_URL }} #OPTIONAL
        # SONAR_ROOT_CERT: ${{ secrets.SONAR_QA_CERT }}
     #   with:
     #    scanMetadataReportFile: .sonarqube/out/.sonar/report-task.txt

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master 
        with:
          projectBaseDir: ./
  
        env:  
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}


      - name: SonarQube Quality Gate check 
        uses: sonarsource/sonarqube-quality-gate-action@master
        timeout-minutes: 5
        env:
           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   
