name: Veracode-Test in linux

on:
  push:
    branches:
      - main
 #  pull_request:1
   # types: [opened, synchronize, reopened]

jobs:
  build:
    name: Veracode Testing
    runs-on: ubuntu-latest #Can be parametized if needed
    steps:

      - run: sudo apt-get update -y && sudo apt-get install curl -y
      - run: sudo apt-get install jq -y

            
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Zip code
        run: zip -r code.zip .

      - name: Upload to Veracode
        uses: veracode/veracode-action@v1
        with:
          upload_path: code.zip
          application_name: 'DemoApp'
          sandbox_name: 'DemoSandbox1'
          veracode_api_id: ${{ secrets.VERACODE_API_ID }}
          veracode_api_key: ${{ secrets.VERACODE_API_KEY }}

      - name: Wait for Veracode scan
        uses: Veracode/wait-for-scan@v1
        with:
          app_id: ${{ steps.upload.outputs.app_id }}
          veracode_api_id: ${{ secrets.VID }}
          veracode_api_key: ${{ secrets.VKEY }}
