name: Veracode Scan

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Veracode Testing
    runs-on: arc-runner-set-dind #Can be parametized if needed
    steps:

      - run: sudo apt-get update -y && sudo apt-get install curl -y
      - run: sudo apt-get install jq -y
      - run: sudo apt-get install libpq-dev -y
      - run: sudo apt-get install gcc -y 
      - run: sudo apt-get install python3-dev -y

     # - name: Install Veracode CLI
     # - run: |
     #     curl -O https://downloads.veracode.com/securityscan/VeracodeJavaAPI.jar
     #     curl -O https://downloads.veracode.com/securityscan/VeracodeJavaWrapper.zip
     #     unzip -o VeracodeJavaWrapper.zip -d veracode
     #     rm VeracodeJavaWrapper.zip
            

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install veracode-api-wrapper
          pip install -r requirements.txt

      - name: Veracode Scan
        run: |
          # Replace 'your_api_id' and 'your_api_key' with your Veracode API credentials
          vid: '${{ secrets.VERACODE_API_ID }}'
          vkey: '${{ secrets.VERACODE_API_KEY }}'
          sandboxName: 'DemoSandbox'
          python -m veracode_api_wapper --id "${{ secrets.VERACODE_API_ID }}" --key "${{ secrets.VERACODE_API_KEY }}" --file "$GITHUB_WORKSPACE/veracode-scan-target.zip" 
      - name: Wait for scan completion
        run: veracode scan --wait-for-results

      - name: Get scan results
        run: veracode scan --get-results

      - name: Fail if vulnerabilities found
        run: |
          result=$(veracode scan --get-results)
          if [[ $result == *"Vulnerabilities found"* ]]; then
            echo "Vulnerabilities found in Veracode scan. Please fix them."
            exit 1
