name: Veracode-Test in linux

on:
  push:
    branches:
      - main
 #  pull_request:1
   # types: [opened, synchronize, reopened]

jobs:
  build:
    name: Veracode Testing
    runs-on: ubuntu-latest #Can be parametized if needed
    steps:

      - run: sudo apt-get update -y && sudo apt-get install curl -y
      - run: sudo apt-get install jq -y

     # - name: Install Veracode CLI
     # - run: |
     #     curl -O https://downloads.veracode.com/securityscan/VeracodeJavaAPI.jar
     #     curl -O https://downloads.veracode.com/securityscan/VeracodeJavaWrapper.zip
     #     unzip -o VeracodeJavaWrapper.zip -d veracode
     #     rm VeracodeJavaWrapper.zip
            

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
         

      - name: Zip Python Code
        run: zip -r code.zip .

      - name: Upload to Veracode
        run: |
          Veracode_API_ID: '${{ secrets.VID }}'
          Veracode_API_KEY: '${{ secrets.VKEY }}
          sandboxName: 'DemoSandbox1'
          UPLOAD_URL="https://analysiscenter.veracode.com/api/5.0/uploadfile.do"
        
          curl -v -k --user "$VERACODE_API_ID:$VERACODE_API_KEY" \
          --data-binary "@code.zip" \
          -H "Content-Type: application/octet-stream" \
          -H "Accept: application/xml" \
          "$UPLOAD_URL"

      - name: Initiate Veracode Scan
        run: |
          VERACODE_API_ID=$VERACODE_API_ID
          VERACODE_API_KEY=$VERACODE_API_KEY
          SCAN_URL="https://analysiscenter.veracode.com/api/5.0/createscan.do"
        
          curl -v -k --user "$VERACODE_API_ID:$VERACODE_API_KEY" \
          -H "Content-Type: application/x-www-form-urlencoded" \
          -H "Accept: application/xml" \
          -d "app_name=DemoApp&create_prescan_report=true" \
          "$SCAN_URL"
